<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @manufacturer.name %>
</p>

<p>
  <b>Adress:</b>
  <%= @manufacturer.adress %>
</p>

<p>
  <b>Hq lat:</b>
  <%= @manufacturer.hq_lat %>
</p>

<p>
  <b>Hq long:</b>
  <%= @manufacturer.hq_long %>
</p>

<p>
  <b>Web:</b>
  <%= @manufacturer.web %>
</p>

<p>
  <b>Long desc:</b>
  <%= @manufacturer.long_desc %>
</p>

<p>
  <b>Founded at:</b>
  <%= @manufacturer.founded_at %>
</p>

<p>
  <b>Closed at:</b>
  <%= @manufacturer.closed_at %>
</p>

<p>
  <b>Created at:</b>
  <%= @manufacturer.created_at %>
</p>

<p>
  <b>Updated at:</b>
  <%= @manufacturer.updated_at %>
</p>

<p>
  <b>Contact phone:</b>
  <%= @manufacturer.contact_phone %>
</p>

<p>
  <b>Contact fax:</b>
  <%= @manufacturer.contact_fax %>
</p>

<p>
  <b>Contact email:</b>
  <%= @manufacturer.contact_email %>
</p>

<p>
  <b>Owner:</b>
  <%= @manufacturer.owner_id %>
</p>

<p>
  <b>Cover:</b>
  <%= @manufacturer.cover_id %>
</p>

<p>
  <b>User:</b>
  <%= @manufacturer.user_id %>
</p>

<p>
  <b>Country:</b>
  <%= @manufacturer.country_id %>
</p>

<p>
  <b>Slug:</b>
  <%= @manufacturer.slug %>
</p>

<p>
  <b>Stock ref:</b>
  <%= @manufacturer.stock_ref %>
</p>

<p>
  <b>Stock value:</b>
  <%= @manufacturer.stock_value %>
</p>

<p>
  <b>Stock dir:</b>
  <%= @manufacturer.stock_dir %>
</p>

<p>
  <b>State:</b>
  <%= @manufacturer.state_id %>
</p>

<p>
  <b>City:</b>
  <%= @manufacturer.city_id %>
</p>


<%= link_to 'Edit', edit_manufacturer_path(@manufacturer) %> |
<%= link_to 'Back', manufacturers_path %>
